.discografia {
    display: flex;
    flex-direction: row;
    .valentin{
        margin: 5px;
    }
}

.discografia2{
    display: flex;
    flex-direction: row;
    top: 380px;
    .valentin{
        margin: 5px;
    }
}