.discografia {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 450px;
    margin-top: 240px;
    overflow: hidden;
    background-color: black;
}