.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    grid-area: header;
    background-color: black;
    height: 10vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
       
    
    
    .logo {
        margin: 10px;
        display: inline-block;
        img{
            max-height: 50px;
        }
    }

    ul{
        padding-left: 0rem;
    }
    
    
    
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        text-decoration: none;
        padding-left: 0%;
        position: absolute;
        left: 450px;
        top: 30px;
        
    }
    
    .navegador {
        display: inline;
        color: white;
        padding: 5px;
        border: solid 3px white;
        margin: 4px;
        border-radius: 4px;
        text-decoration: none;      
    }
    
    
    .navegador a{
        color: white;
        text-decoration: none;
        transition: all 0.3;
    }
    
    .navegador a:hover{
        transform: scale(1.1);
    }


}

@media(max-width: 1024px) {
    ul{
        position: relative;
        left: -100px;
       
        .navegador{
            margin: 4px;
            
        }
    }

@media(max-width: 768px) {
    ul{
        position: relative;
        left: -200px;
       
        .navegador{
            margin: 4px;
            font-size: 8px;
        }
    }
    }


        }

        @media(max-width: 425px) {
            ul{
                position: relative;
                left: -350px;
                display: flex;
                flex-direction: row;
                
               
                .navegador{
                    margin: 0px;
                    font-size: 6px;
                    
                }
                
            } 
            }