main {
    grid-area: main;
    background-color: #222;
    color: black;
    height: 80vh;
    font-family: 'Poppins', sans-serif;

    div {

        .carousel-inner {
            top: 2.5vh;
        }
    }

    img {

        height: 75vh;
        max-width: 4fr;

    }

    @media(max-width: 1024px) {

        img {
            max-height: 75vh;
            max-width: 4fr;

        }

    }





    @media(max-width: 768px) {

        img {
            max-height: 75vh;
            max-width: 4fr;

        }

    }



    @media(max-width: 425px) {

        img {
            max-height: 75vh;
            max-width: 4fr;

        }

    }





}