main {
    grid-area: main;
    background-color: #222;
    color: black;
    height: 80vh;

    div {

        .carousel-inner {
            top: 2.5vh;
        }
    }

    img {
        max-height: 75vh;
        max-width: 4fr;

    }






}