#index

main {
    background-color: black;
    height: 80vh;

    h1 {
        color: black;
        background-color: orangered;
        border: solid 2px white;
        border-radius: 5px;
    }

    .primera-seccion {
        padding: 1rem;

    }

    p {
        text-align: center;
        color: orangered;
        background-color: white;
        border: solid 3px orangered;
        border-radius: 4px;
    }

    h6 {
        color: orangered;
        background-color: white;
        border: solid 3px orangered;
        border-radius: 4px;
        text-align: center;
    }
}